@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        /* White */
        --foreground: 0 0% 9%;
        /* Zinc-950 */
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 9%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --primary: 221.2 83.2% 53.3%;
        /* Blue-600 */
        --primary-foreground: 210 40% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 9%;
        /* Zinc-950 */
        --foreground: 0 0% 98%;
        /* Zinc-50 */
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 98%;
        --card: 0 0% 9%;
        --card-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 224.3 76.3% 48%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}